body, html {
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: tomato;
    font-family: 'Georgia';
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.4fr 0.5fr 2.1fr 2.1fr 0.5fr 0.4fr;
  grid-template-rows: 0.6fr 1.8fr 1.1fr 0.5fr;
  gap: 1px 1px;
  grid-template-areas: ". . header header . ." ". main main main main ." ". . warning warning . ." ". . footer footer . .";
}

header {
  grid-area: header;
  display: flex;
  font-size: 2.3vw;
  color: #200c09;
}



main {
  grid-area: main;
  text-align: center;
  background-color: #ffbf47 ;
  padding: 2vw;
  margin: 0px;
  border-radius: .5vw;
}

.warning {
  grid-area: warning;
  text-align: center;
  padding-top: 6vw;
}

footer {
  grid-area: footer;
  text-align: center;
  border-radius: 1vh;
}

.ingredients {
  list-style: none;
}

h5 {
  align-self: flex-end;
  justify-content: space-around;
  font-size: .8vw;
}

img {
  margin: 0;
  width: 20%;
  height: 40%;
}

div {
  font-size: 1vw;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

#nav_menu {
    justify-content: left;
    font-size: 1.1em;
    z-index: 1000;
}

#nav_menu ul {
  list-style: none;
  position: relative;
  /* So the first submenu can be positioned within the main menu */
}

#nav_menu ul li {
  float: left;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}


/* Styles for the formatting of the multi-tier navigation menu */
#nav_menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  width: 25%;
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  padding: 1em 0;
  text-decoration: none;
  background-color: #ffbf47;
  color: #200c09;
  font-weight: bold;
}

#nav_menu ul li a.current {
  color: aquamarine;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
  background-color: #df573e;
  color: #ffebe8;
}

#nav_menu ul li:hover ul {
  width: 100%;
}

#nav_menu ul li:hover ul li a {
  display: block;
  /* width: 178px; */
  text-align: center;
}

/* Hide the slicknav version of the menu by default, until 767px is reached */
.slicknav_menu {
  display: none;
}

/* Change the font size of the .nav_menu at 767px */
@media only screen and (max-width: 767px) {
  .nav_menu ul li a {
    font-size: 0.875em;
  }
}

/* Tweak the styling of .nav_menu, then replace it with the .slicknav_menu version at 767px; slicknav default styles can be tweaked here as well (I've included only one example of this below, but you can do as much as you like) */
@media only screen and (max-width: 767px) {
  /* Hide the #nav_menu at 767 px */
  #nav_menu {
    display: none;
  }

  /* Display the slicknav version of the menu at 767px */
  .slicknav_menu {
    display: block;
  }

  .slicknav_menu .slicknav_menutxt {
    color: aquamarine;
    text-shadow: 0 1px 3px #200b0b;
    font-family: "Raleway", sans-serif;
  }
  
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    display: block;
    max-width: 100px;
  }

  .slicknav_nav ul {
    margin: 0 0 0 20px;
    text-align: center;
  }
}
